/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* Início */
html body {
    font-family: 'Muli', sans-serif;
}

/* Header */
header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E5E5E5;
    box-shadow: #F3F3F3 1px 1px 4px;
    position: fixed;
    background-color: white;
}

.logo-container {
    flex: 1;
}

nav {
    flex: 20;
    font-weight: 300;
    font-size: 1.2em;
    color: #7B7B7B;
    margin-left: 8px;
}

.right-nav {
    flex: 6;
    justify-content: flex-end;
}

.nav-link {
    margin-left: 20px;
    
}

.nav-link:hover {
    color: #CB71EA;
}

.logo-container, .right-nav, .nav-links {
    display: flex;
    }

#imgtop {
    height: 4.3vh;
    margin-left: 32px;
}

#plogin {
    color:#8C3CBE;
    font-size: 1.2em;
    font-weight: 300;
    display: flex;
    align-self: center;
    margin-right: 30px;
    margin-left: 13.35em;
}

#button-top {
 background-color: #8C3CBE;
 height: 80px;
 width: 210px;
 border: 0 solid;
 color: white;
 font-size: 1.1em;
 font-weight: 300;
 transition: 200ms ease-in-out;
}

#button-top:hover {
    background-color: #BA4DE2;
}

/* Main */
/* Ser Nubank */

.content-container-first {
    height: 50%;
    width: 100%;
    display: flex;
}

#first-content {
    height: 100%;
    margin: 10% auto; 
}


/* Conta do Nubank */
.content-container-second {
    height: 50em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #F5F5F5;
    margin-top: -4em;
}

#image-conta-do-nubank {
    height: 80%;
    margin: -5% -1% 0 0;
}


.p-container-conta-do-nubank {
    width: 31%;
    margin: -8% 0 0 5%;
    
}

#p-description-conta-do-nubank {
    display: flex;
    font-size: 3em;
    line-height: 1.2em;
    margin: 0 0 7% 5%;
    color: #767676;
    font-weight: 300;
}

#p-conta-do-nubank {
    color: #8c3cbe;
    font-size: 3em;
    margin-left: 5%;
    font-weight: 300;
}

#p-foot {
    color: #8c3cbe;
    font-size: 1.1em;
    margin: 9% 0 0 5%;
    font-weight: 300;
    text-decoration-color: #CCCCCC;
}
/* Cartão de Crédito Content */
.content-container-third {
    height: 52em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    margin-top: -4em;
}

.p-container-cartao-de-credito {
    width: 31%;
    margin: 1% 0 0 -8%;
    
}

#p-cartao-de-credito {
    color: #8c3cbe;
    font-size: 3em;
    margin-left: 5%;
    font-weight: 300;
}

#p-description-cartao-de-credito {
    display: flex;
    font-size: 3em;
    line-height: 1.2em;
    margin: 0 0 7% 5%;
    color: #767676;
    font-weight: 300;
}

#image-cartao-de-credito {
    height: 80%;
    margin: -0.5% -1% 0 0;
}

/* Reward Content */
.content-container-fourth {
    height: 46em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #542582;
    margin-top: -5.4em;
}

#p-reward {
    color: white;
    font-size: 3em;
    margin-left: 5%;
    font-weight: 300;
    text-decoration: underline;
    text-decoration-color: #8659A7;
}

#p-description-reward {
    display: flex;
    font-size: 3em;
    line-height: 1.2em;
    margin: 0 0 7% 5%;
    color: #CA8EE2;
    font-weight: 300;
}

.p-container-reward {
    width: 31%;
    margin: 1% 0 0 -5%;
    
}

#image-conta-do-nubank {
    height: 80%;
    margin: -5% -1% 0 0;
}

#p-foot-reward {
    color: white;
    font-size: 1.1em;
    margin: 9% 0 0 5%;
    font-weight: 300;
    text-decoration-color: #8659A7;
}